body {
    margin: 0%;
    padding: 0%;
}

#bigContainer {
    display: flex;
    width: 100%;
}

#content-left {
    flex-direction: column;
    display: flex;
    position: fixed;
    width: 14%;
    height: 708px;
    align-items: center;
    background-color: #12386d ;
}


#conn-info-containner{
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conn-info-elem{
    margin-bottom: 3%;
    display: flex;
    padding: 1%;
    height: 31px;
    align-items: center;
    width: 90%;
    color: white;
    font-size: 0.9em;
    font-family:sans-serif;
    border-radius: 10px;
    transition: all 0.8s;
}
.conn-info-elem:hover{
    background-color: rgba(0, 0, 0, 0.192);
    cursor: pointer;
}

.icon-doc-elem{
    width: 20px;
    height: 20px;
    margin-left: 4%;
    margin-right: 6%;
    background-repeat: no-repeat;
    background-size: cover;


}

#doc-info-containner{

    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: rgba(255, 255, 255, 0.304) 1px solid ;
}

.doc-info-elem{
    display: flex;
    padding: 1%;
    align-items: center;
    margin-bottom: 3%;
    height: 31px;
    width: 90%;
    color: white;
    font-size: 0.9em;
    font-family:sans-serif;
    border-radius: 10px;
    transition: all 0.8s;
    
}
.doc-info-elem:hover{
    background-color: rgba(0, 0, 0, 0.192);
    cursor: pointer;
}


#div-service{
    width: 16.2%;
}

#content-right {
    width: 100%;

}


#profile-left-elem{
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10%;
    color: aliceblue;
    border-bottom: rgba(255, 255, 255, 0.304) solid 0.5px;
}

#titre-content{
    background:linear-gradient(to left , #efe3f999 ,#cde5ffac) ;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#bienvenue{
    color: #12386D;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bolder;
    width: 80%;
}

#marque-logo{
    height: 70%;
    width: 100px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}